body {
    color: white;
    background-color: black;
}

.centralizar {
    text-align: center;
}

.texto_cima {
    font-size: 3rem;
    margin-top: 60px;
}

.imagem {
    width: 50em;
    height: auto;

    margin-top: 1rem;
    border: 3px solid white;
}

#input {
    margin-top: 0.5rem;
    font-size: 1.6rem;
}

.button {
    margin-top: 5px;
    font-size: 20px;
}

#resposta {
    font-size: 40px;
    color: rgb(83, 126, 167);
    display: none;
}

#resposta:link {
    font-size: 40px;
    color: rgb(83, 126, 167);
    display: none;
}

#resposta:visited {
    font-size: 40px;
    color: rgb(83, 126, 167);
    display: none;
}

#resposta:hover {
    font-size: 40px;
    color: rgb(83, 126, 167);
    display: none;
}

#resposta:active {
    font-size: 40px;
    color: rgb(83, 126, 167);
    display: none;
}


